/* *{
    margin: 0%;
    padding: 0;
} */

.borderCss{
    width: 500px;
    height: 300px;
    background-color: red;

    /* border-width: 5px;
    border-color: black;
    border-style:solid; */

    border: 5px solid black;

    border-radius: 30px;
}